---
version: 2
interactions:
    - id: 0
      request:
        host: kenkoooo.com
        body: ""
        form: {}
        headers: {}
        url: https://kenkoooo.com/atcoder/atcoder-api/v3/user/submissions?from_second=0&user=matumoto
        method: GET
      response:
        body: '[{"id":4156454,"epoch_second":1549195756,"problem_id":"abc117_a","contest_id":"abc117","user_id":"matumoto","language":"C++14 (GCC 5.4.1)","point":0.0,"length":154,"result":"WA","execution_time":1},{"id":4160453,"epoch_second":1549197553,"problem_id":"abc117_a","contest_id":"abc117","user_id":"matumoto","language":"C++14 (GCC 5.4.1)","point":100.0,"length":147,"result":"AC","execution_time":1},{"id":4163509,"epoch_second":1549199459,"problem_id":"abc117_a","contest_id":"abc117","user_id":"matumoto","language":"C++14 (GCC 5.4.1)","point":0.0,"length":284,"result":"WA","execution_time":1},{"id":4166018,"epoch_second":1549201058,"problem_id":"abc117_b","contest_id":"abc117","user_id":"matu[...]
[...]
    - id: 8
      request:
        host: kenkoooo.com
        body: ""
        form: {}
        headers: {}
        url: https://kenkoooo.com/atcoder/atcoder-api/v3/user/submissions?from_second=1680527632&user=matumoto
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - C6MjcFetNjMFR7g=
            X-Amzn-Remapped-Content-Length:
                - "2"
            X-Amzn-Remapped-Date:
                - Wed, 05 Apr 2023 15:04:53 GMT
            X-Amzn-Requestid:
                - be3d0562-86fd-4061-b600-1a485e201295
        status: 200 OK
        code: 200
        duration: 158.972724ms
